<div class="auth-page d-flex align-items-center justify-content-center">
  <div class="auth-card">
    <div class="auth-icon-wrapper">
      <img src="images/logo.png" alt="Logo da igreja" />
    </div>

    <h1 class="auth-title">Esqueceu a senha?</h1>
    <p class="auth-subtitle">Digite seu email para receber o link de redefinição de senha</p>

    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="seu@email.com"
          formControlName="email"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary auth-submit-btn w-100 my-4"
        [disabled]="form.invalid"
      >
        <mat-icon fontIcon="login" class="me-2"></mat-icon>
        Enviar
      </button>

      <div class="mb-4 d-flex align-items-center justify-content-center">
        <a routerLink="/auth/login">Voltar para o login</a>
      </div>
    </form>
  </div>
</div>
