<mat-sidenav-container class="layout-container">
  <mat-sidenav class="layout-sidenav" mode="side" [opened]="isSidenavOpen">
    <div class="sidenav-container">
      <section class="top">
        <div class="layout-sidenav__header">
          <div class="layout-sidenav__icon">
            <img src="images/logo-white.png" alt="Logo" />
          </div>
          <div class="layout-sidenav__subtitle">Sistema de Gestão IBG</div>
        </div>

        <nav class="layout-sidenav__menu">
          <button
            mat-button
            class="layout-sidenav__item"
            color="primary"
            routerLink="/"
            routerLinkActive="layout-sidenav__item--active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeSidenavOnMobile()"
          >
            <mat-icon>space_dashboard</mat-icon>
            <span>Dashboard</span>
          </button>

          @if (
            user?.role === userRoles.ADMIN ||
            user?.role === userRoles.TREASURER ||
            user?.role === userRoles.FISCAL
          ) {
            <button
              mat-button
              class="layout-sidenav__item"
              routerLink="contributions"
              routerLinkActive="layout-sidenav__item--active"
              (click)="closeSidenavOnMobile()"
            >
              <mat-icon>monetization_on</mat-icon>
              <span>Contribuições</span>
            </button>
          }

          @if (
            user?.role === userRoles.ADMIN ||
            user?.role === userRoles.TREASURER ||
            user?.role === userRoles.FISCAL
          ) {
            <button
              mat-button
              class="layout-sidenav__item"
              routerLink="expenses"
              routerLinkActive="layout-sidenav__item--active"
              (click)="closeSidenavOnMobile()"
            >
              <mat-icon>money_off</mat-icon>
              <span>Despesas</span>
            </button>
          }

          @if (
            user?.role === userRoles.ADMIN ||
            user?.role === userRoles.TREASURER ||
            user?.role === userRoles.SECRETARY ||
            user?.role === userRoles.PRESIDENT
          ) {
            <button
              mat-button
              class="layout-sidenav__item"
              routerLink="members"
              routerLinkActive="layout-sidenav__item--active"
              (click)="closeSidenavOnMobile()"
            >
              <mat-icon>people</mat-icon>
              <span>Membros</span>
            </button>
          }

          @if (user?.role === userRoles.ADMIN) {
            <button
              mat-button
              class="layout-sidenav__item"
              routerLink="users"
              routerLinkActive="layout-sidenav__item--active"
              (click)="closeSidenavOnMobile()"
            >
              <mat-icon>person</mat-icon>
              <span>Usuários</span>
            </button>
          }

          @if (
            user?.role === userRoles.ADMIN ||
            user?.role === userRoles.TREASURER ||
            user?.role === userRoles.SECRETARY ||
            user?.role === userRoles.PRESIDENT
          ) {
            <button
              mat-button
              class="layout-sidenav__item"
              routerLink="parameters"
              routerLinkActive="layout-sidenav__item--active"
              (click)="closeSidenavOnMobile()"
            >
              <mat-icon>settings</mat-icon>
              <span>Parâmetros</span>
            </button>
          }
        </nav>
      </section>

      <div class="layout-sidenav__footer">
        <div class="user-card">
          <div class="user-card__avatar">{{ user?.member?.name?.charAt(0) }}</div>
          <div class="user-card__info">
            <div class="user-card__name">{{ user?.member?.name }}</div>
            <div class="user-card__email">{{ user?.member?.email }}</div>
            <span class="user-card__role">
              @switch (user?.role) {
                @case (userRoles.ADMIN) {
                  Administrador
                }
                @case (userRoles.TREASURER) {
                  Tesoureiro(a)
                }
                @case (userRoles.SECRETARY) {
                  Secretário(a)
                }
                @case (userRoles.FISCAL) {
                  Conselho Fiscal
                }
                @case (userRoles.PRESIDENT) {
                  Presidente
                }
                @default {
                  Usuário
                }
              }
            </span>
          </div>
        </div>
        <button mat-button class="layout-sidenav__logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="layout-content">
    <header class="layout-topbar d-flex justify-content-start align-items-center">
      <button mat-icon-button class="layout-topbar__icon" (click)="toggleSidenav()">
        <img src="icons/left-panel.svg" alt="" />
      </button>
    </header>

    <main class="layout-main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
