<mat-sidenav-container class="layout-container">
  <mat-sidenav class="layout-sidenav" mode="side" opened>
    <div class="layout-sidenav__header">
      <div class="layout-sidenav__icon">
        <span class="fw-bold">C</span>
      </div>
      <div class="layout-sidenav__brand">
        <div class="layout-sidenav__title">Contribuições</div>
        <div class="layout-sidenav__subtitle">Gestão Financeira</div>
      </div>
    </div>

    <nav class="layout-sidenav__menu">
      <button
        mat-button
        class="layout-sidenav__item"
        color="primary"
        routerLink="/"
        routerLinkActive="layout-sidenav__item--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>space_dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button
        mat-button
        class="layout-sidenav__item"
        routerLink="contributions"
        routerLinkActive="layout-sidenav__item--active"
      >
        <mat-icon>list</mat-icon>
        <span>Contribuições</span>
      </button>
      <button
        mat-button
        class="layout-sidenav__item"
        routerLink="members"
        routerLinkActive="layout-sidenav__item--active"
      >
        <mat-icon>people</mat-icon>
        <span>Membros</span>
      </button>
      <!-- <button mat-button class="layout-sidenav__item">
        <mat-icon>list</mat-icon>
        <span>Listar Contribuições</span>
      </button>
      <button mat-button class="layout-sidenav__item">
        <mat-icon>bar_chart</mat-icon>
        <span>Relatórios</span>
      </button> -->
    </nav>

    <div class="layout-sidenav__footer">
      <div class="user-card">
        <div class="user-card__avatar">{{ user?.name?.charAt(0) }}</div>
        <div class="user-card__info">
          <div class="user-card__name">{{ user?.name }}</div>
          <div class="user-card__email">{{ user?.email }}</div>
          <span class="user-card__role">{{
            user?.role === 'TREASURER' ? 'Tesoureiro' : 'Conselho Fiscal'
          }}</span>
        </div>
      </div>

      <button mat-button class="layout-sidenav__logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="layout-content">
    <header class="layout-topbar d-flex justify-content-start align-items-center">
      <button mat-icon-button class="layout-topbar__icon">
        <img src="icons/left-panel.svg" alt="" />
      </button>
    </header>

    <main class="layout-main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
