<div class="cadastrar-container">
  <div class="cadastrar-card">
    <h2 mat-dialog-title class="card-title">{{ data ? 'Atualizar' : 'Novo' }} Membro</h2>
    <form [formGroup]="form" (ngSubmit)="submit()" class="contribution-form">
      <mat-dialog-content>
        <fieldset>
          <legend>Informações Pessoais</legend>
          <div class="row mb-3">
            <!-- Nome -->
            <div class="col-12 col-lg-8">
              <label for="name" class="form-label">Nome</label>
              <input class="form-control" formControlName="name" placeholder="Digite o nome" />
            </div>

            <!-- Tipo de Membro -->
            <div class="col-12 col-lg-4">
              <label for="memberTypeId" class="form-label">Tipo de Membro</label>
              <select class="form-control" formControlName="memberTypeId">
                <option [value]="null" disabled selected>- Selecione</option>
                @for ((type of memberTypes$ | async); track $index) {
                  <option [value]="type.id">{{ type.description }}</option>
                }
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12 col-lg-4">
              <!-- Telefone -->
              <label for="phone" class="form-label">Telefone</label>
              <input
                class="form-control"
                formControlName="phone"
                placeholder="Digite o telefone"
                mask="(00) 0 0000-0000"
              />
            </div>

            <!-- E-mail -->
            <div class="col-12 col-lg-8">
              <label for="email" class="form-label">E-mail</label>
              <input class="form-control" formControlName="email" placeholder="Digite o e-mail" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12 col-lg-4">
              <!-- Gênero -->
              <label for="genre" class="form-label">Gênero</label>
              <select formControlName="genre" class="form-control">
                <option [value]="null" disabled selected>- Selecione</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
              </select>
            </div>

            <!-- Data de Nascimento -->
            <div class="col-12 col-lg-4">
              <label for="birthDate" class="form-label">Data de Nascimento</label>
              <input type="date" class="form-control" formControlName="birthDate" />
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Dados de membresia</legend>
          <div class="row mb-3">
            <!-- Data de Entrada -->
            <div class="col-12 col-lg-4">
              <label for="entryDate" class="form-label">Data de Entrada</label>
              <input type="date" class="form-control" formControlName="entryDate" />
            </div>

            <!-- Data de Batismo -->
            <div class="col-12 col-lg-4">
              <label for="baptismDate" class="form-label">Data de Batismo</label>
              <input type="date" class="form-control" formControlName="baptismDate" />
            </div>
          </div>
        </fieldset>

        <!-- Endereço -->
        <fieldset>
          <legend>Dados de Endereço</legend>

          <div class="row mb-3">
            <!-- CEP -->
            <div class="col-12 col-lg-3">
              <label for="zipCode" class="form-label">CEP</label>
              <input
                class="form-control"
                formControlName="zipCode"
                placeholder="Digite o CEP"
                mask="00000-000"
                (change)="onZipCodeChange($event)"
              />
            </div>

            <!-- Rua -->
            <div class="col-12 col-lg-6">
              <label for="street" class="form-label">Rua</label>
              <input class="form-control" formControlName="street" placeholder="Digite a rua" />
            </div>

            <!-- Número -->
            <div class="col-12 col-lg-3">
              <label for="number" class="form-label">Número</label>
              <input class="form-control" formControlName="number" placeholder="Digite o número" />
            </div>
          </div>

          <div class="row mb-3">
            <!-- Complemento -->
            <div class="col-12">
              <label for="complement" class="form-label">Complemento</label>
              <input
                class="form-control"
                formControlName="complement"
                placeholder="Digite o complemento"
              />
            </div>
          </div>

          <div class="row mb-3">
            <!-- Cidade -->
            <div class="col-12 col-lg-4">
              <label for="city" class="form-label">Cidade</label>
              <input class="form-control" formControlName="city" placeholder="Digite a cidade" />
            </div>

            <!-- Estado -->
            <div class="col-12 col-lg-4">
              <label for="state" class="form-label">Estado</label>
              <input class="form-control" formControlName="state" placeholder="Digite o estado" />
            </div>
          </div>
        </fieldset>
      </mat-dialog-content>

      <mat-dialog-actions class="form-footer" align="end">
        <button type="button" class="btn cancel-button" (click)="close()">Cancelar</button>
        <button type="submit" class="btn btn-primary submit-button" [disabled]="form.invalid">
          <mat-icon fontIcon="save" class="submit-icon"></mat-icon>
          {{ data ? 'Atualizar' : 'Cadastrar' }} Membro
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
