/* Toast (MatSnackBar) styles */
.mat-mdc-snack-bar-container.toast-success {
  background-color: #16a34a;
  color: #ffffff;
}

.mat-mdc-snack-bar-container.toast-error {
  background-color: #dc2626;
  color: #ffffff;
}

.mat-mdc-snack-bar-container.toast-warning {
  background-color: #f59e0b;
  color: #111827;
}

.mat-mdc-snack-bar-container.toast-success .mat-mdc-snack-bar-label,
.mat-mdc-snack-bar-container.toast-error .mat-mdc-snack-bar-label,
.mat-mdc-snack-bar-container.toast-warning .mat-mdc-snack-bar-label {
  color: inherit;
}

body {
  margin: 0;
  height: 100%;
}
