<div class="cadastrar-container">
  <div class="cadastrar-card">
    <h2 mat-dialog-title class="card-title">{{ data ? 'Atualizar' : 'Novo' }} Usuário</h2>
    <form [formGroup]="form" (ngSubmit)="submit()" class="contribution-form">
      <mat-dialog-content>
        <div class="mb-3">
          <div class="col-md-8">
            <label for="memberId" class="form-label">Membro</label>
            <input
              type="text"
              class="form-control"
              matInput
              placeholder="Buscar membro"
              [formControl]="memberSearchControl"
              [matAutocomplete]="autoMember"
            />
            <mat-autocomplete
              #autoMember="matAutocomplete"
              (optionSelected)="onMemberSelected($event.option.value)"
            >
              @for (member of filteredMembers$ | async; track $index) {
                <mat-option [value]="member">
                  {{ member.name }}
                </mat-option>
              }
            </mat-autocomplete>
          </div>
        </div>

        <!-- <div class="row mb-3">
          <div class="col-12 col-md-6">
            <label class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              placeholder="Mínimo 6 caracteres"
              formControlName="password"
            />
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label">Confirmar Senha</label>
            <input
              type="password"
              class="form-control"
              placeholder="Repita a senha"
              formControlName="confirmPassword"
            />
          </div>
        </div> -->

        <div class="mb-4">
          <label class="form-label">Perfil</label>
          <select class="form-control" formControlName="role">
            <option value="" disabled selected>- Selecione</option>
            <option [value]="userRoles.ADMIN">Administrador</option>
            <option [value]="userRoles.FISCAL">Conselho Fiscal</option>
            <option [value]="userRoles.SECRETARY">Secretário</option>
            <option [value]="userRoles.TREASURER">Tesoureiro</option>
            <option [value]="userRoles.PRESIDENT">Presidente</option>
          </select>
        </div>
      </mat-dialog-content>

      <mat-dialog-actions class="form-footer" align="end">
        <button type="button" class="btn cancel-button" (click)="close()">Cancelar</button>
        <button type="submit" class="btn btn-primary submit-button" [disabled]="form.invalid">
          <mat-icon fontIcon="save" class="submit-icon"></mat-icon>
          {{ data ? 'Atualizar' : 'Cadastrar' }} Usuário
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
